<section class="block block--dark">
  <div class="container block-footer">
    <ul class="list block-footer__sections">
      <li class="block-footer__item">
        <div class="collapsible">
          <header class="collapsible__header">
            <h2 class="collapsible__heading">Products</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </header>
          <div class="collapsible__content">
            <ul class="list">
              <li class="list__item">Wordpress hosting</li>
              <li class="list__item">Free Automated WordPress</li>
              <li class="list__item">Migrations</li>
              <li class="list__item">Domain Names</li>
              <li class="list__item">Monthly Web Hosting</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="block-footer__item-desktop">
        <div class="collapsible collapsible--expanded">
          <header class="collapsible__header">
            <h2 class="collapsible__heading">Products</h2>
          </header>
          <div class="collapsible__content">
            <ul class="list">
              <li class="list__item">Wordpress hosting</li>
              <li class="list__item">Free Automated WordPress</li>
              <li class="list__item">Migrations</li>
              <li class="list__item">Domain Names</li>
              <li class="list__item">Monthly Web Hosting</li>
            </ul>
          </div>
        </div>
      </li>
      <!-- <svg class="icon icon--white">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg> -->
      <li class="block-footer__item">
        <div class="collapsible">
          <header class="collapsible__header">
            <h2 class="collapsible__heading">Company</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </header>
          <div class="collapsible__content">
            <ul class="list">
              <li class="list__item">About</li>
              <li class="list__item">Affiliates</li>
              <li class="list__item">Blog</li>
              <li class="list__item">Careers</li>
              <li class="list__item">Community</li>
              <li class="list__item">News</li>
              <li class="list__item">Green Hosting</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="block-footer__item-desktop">
        <div class="collapsible collapsible--expanded">
          <header class="collapsible__header">
            <h2 class="collapsible__heading">Company</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </header>
          <div class="collapsible__content">
            <ul class="list">
              <li class="list__item">About</li>
              <li class="list__item">Affiliates</li>
              <li class="list__item">Blog</li>
              <li class="list__item">Careers</li>
              <li class="list__item">Community</li>
              <li class="list__item">News</li>
              <li class="list__item">Green Hosting</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="block-footer__item">
        <div class="collapsible">
          <header class="collapsible__header">
            <h2 class="collapsible__heading">Support</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </header>
          <div class="collapsible__content">
            <ul class="list">
              <li class="list__item">Contact</li>
              <li class="list__item">Knowledge Base</li>
              <li class="list__item">Forums</li>
              <li class="list__item">System Status</li>
              <li class="list__item">Web Hosting</li>
              <li class="list__item">DreamCompute</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="block-footer__item-desktop">
        <div class="collapsible collapsible--expanded">
          <header class="collapsible__header">
            <h2 class="collapsible__heading">Support</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </header>
          <div class="collapsible__content">
            <ul class="list">
              <li class="list__item">Contact</li>
              <li class="list__item">Knowledge Base</li>
              <li class="list__item">Forums</li>
              <li class="list__item">System Status</li>
              <li class="list__item">Web Hosting</li>
              <li class="list__item">DreamCompute</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="block-footer__item">
        <div class="collapsible">
          <header class="collapsible__header">
            <h2 class="collapsible__heading">Domains</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </header>
          <div class="collapsible__content">
            <ul class="list">
              <li class="list__item">Domain Checker</li>
              <li class="list__item">Domain Transfer</li>
              <li class="list__item">Free Domain</li>
              <li class="list__item">XYZ Domain</li>
              <li class="list__item">Cheap SSL Certificate</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="block-footer__item-desktop">
        <div class="collapsible collapsible--expanded">
          <header class="collapsible__header">
            <h2 class="collapsible__heading">Domains</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </header>
          <div class="collapsible__content">
            <ul class="list">
              <li class="list__item">Domain Checker</li>
              <li class="list__item">Domain Transfer</li>
              <li class="list__item">Free Domain</li>
              <li class="list__item">XYZ Domain</li>
              <li class="list__item">Cheap SSL Certificate</li>
            </ul>
          </div>
        </div>
      </li>
      <div class="logo-section">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="209"
          height="54"
          viewBox="0 0 209 54"
        >
          <defs>
            <style>
              .cls-1 {
                fill: #2584ff;
                stroke: #2584ff;
              }

              .cls-1,
              .cls-2 {
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 10px;
                fill-rule: evenodd;
              }

              .cls-2 {
                fill: #ff3400;
                stroke: #ff3400;
                mix-blend-mode: lighten;
              }

              .cls-3 {
                font-size: 32.498px;
                fill: #fff;
                font-family: Inter;
                font-weight: 700;
              }
            </style>
          </defs>
          <path
            id="Polygon_1_copy_2"
            data-name="Polygon 1 copy 2"
            class="cls-1"
            d="M43.851,29.7L24.244,39.2,32.037,14.02Z"
          />
          <path
            id="Polygon_1_copy_2-2"
            data-name="Polygon 1 copy 2"
            class="cls-2"
            d="M37.033,29.7L56.64,39.2,48.847,14.02Z"
          />
          <text
            id="Moshify"
            class="cls-3"
            transform="translate(71.466 35.437) scale(0.923)"
          >
            Moshify
          </text>
        </svg>
        <p>Copyright &copy; 2020 mosh</p>
      </div>
    </ul>
  </div>
</section>
